
@font-face {
 font-family: "Loos Latin, Cyrillic Wide";
 src: url("../font/Loos-Latin_-Cyrillic-Wide-Regular-Desktop.woff") format("woff");
}

body{
  background: #D2D2D2;
  font-family: 'Loos latin, Cyrillic Wide', sans-serif;
  overflow-x:hidden;
  /* overflow-y:hidden; */
}

*,
*:before,
*:after {
     box-sizing: border-box;
}



.textbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}

.title {
  /* margin-top: 1%; как в макете*/
  margin-top: 0.4%;
  margin-left: 1.3%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 2.3vw;
}

.title_means {
  /* margin-top: 1%; как в макете*/
  margin-top: 0.4%;
  margin-right: 1.5%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 2.3vw;
}

.holder {
  width: 100%;
  display: grid;
  grid-template-columns: 66% 34%;
  margin-top: 1%
  /* margin-top: 1.5% как в макете*/
}

.left {
  display: grid;
  grid-template-rows: 17.1% 17.1% 17.1% 17.1% 20.3;
  /* background-color: pink; */
  width: 100%;
}

.music_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.85%;
  /* background-color: white; */
}

.music_buttons {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  width: 4.6%;
}

.button_1 {
  width: 100%;
  border-radius: 4px;
  background-color: #F5F5F5;
  border: 0.165vw solid #222222;
  margin-bottom: 10%;
}

.button_11 {
  width: 100%;
  border-radius: 4px;
  background-color: #F5F5F5;
  border: 0.165vw solid #222222;
  margin-bottom: 10%;
}

.button_11:hover {
  background-color: #bababa;
}

.button_21 {
  width: 100%;
  border-radius: 4px;
  background-color: #F5F5F5;
  border: 0.165vw solid #222222;
  margin-bottom: 10%;
}

.button_21:hover {
  background-color: #bababa;
}

.button_31 {
  width: 100%;
  border-radius: 4px;
  background-color: #F5F5F5;
  border: 0.165vw solid #222222;
  margin-bottom: 10%;
}

.button_31:hover {
  background-color: #bababa;
}

.button_41 {
  width: 100%;
  border-radius: 4px;
  background-color: #F5F5F5;
  border: 0.165vw solid #222222;
  margin-bottom: 10%;
}

.button_41:hover {
  background-color: #bababa;
}

.col {
  text-align: center;
  margin: 10% 20%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.9vw;
}

.col_1 {
  text-align: center;
  margin: 10% 20%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.9vw;
}

.col_2 {
  text-align: center;
  margin: 10% 20%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.9vw;
}

.col_3 {
  text-align: center;
  margin: 10% 20%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.9vw;
}

.col_4 {
  text-align: center;
  margin: 10% 20%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.9vw;
}

.button_2 {
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 4px;
  border: 0.165vw solid #222222;
  margin-bottom: 10%;
}

.button_12 {
  width: 100%;
  border-radius: 4px;
  background-color: #F5F5F5;
  border: 0.165vw solid #222222;
  margin-bottom: 10%;
}

.button_12:hover {
  background-color: #bababa;
}

.button_22 {
  width: 100%;
  border-radius: 4px;
  background-color: #F5F5F5;
  border: 0.165vw solid #222222;
  margin-bottom: 10%;
}

.button_22:hover {
  background-color: #bababa;
}

.button_32 {
  width: 100%;
  border-radius: 4px;
  background-color: #F5F5F5;
  border: 0.165vw solid #222222;
  margin-bottom: 10%;
}

.button_32:hover {
  background-color: #bababa;
}

.button_42 {
  width: 100%;
  border-radius: 4px;
  background-color: #F5F5F5;
  border: 0.165vw solid #222222;
  margin-bottom: 10%;
}

.button_42:hover {
  background-color: #bababa;
}

.move {
  text-align: center;
  margin: 10% 2%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.9vw;
}

.move_1 {
  text-align: center;
  margin: 10% 2%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.9vw;
}

.move_2 {
  text-align: center;
  margin: 10% 2%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.9vw;
}

.move_3 {
  text-align: center;
  margin: 10% 2%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.9vw;
}

.move_4 {
  text-align: center;
  margin: 10% 2%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.9vw;
}

.button_3 {
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 4px;
  border: 0.165vw solid #222222;
  margin-bottom: 10%;
}

.button_13 {
  width: 100%;
  border-radius: 4px;
  background-color: #F5F5F5;
  border: 0.165vw solid #222222;
  margin-bottom: 10%;
}

.button_13:hover {
  background-color: #bababa;
}

.button_23 {
  width: 100%;
  border-radius: 4px;
  background-color: #F5F5F5;
  border: 0.165vw solid #222222;
  margin-bottom: 10%;
}

.button_23:hover {
  background-color: #bababa;
}

.button_33 {
  width: 100%;
  border-radius: 4px;
  background-color: #F5F5F5;
  border: 0.165vw solid #222222;
  margin-bottom: 10%;
}

.button_33:hover {
  background-color: #bababa;
}

.button_43 {
  width: 100%;
  border-radius: 4px;
  background-color: #F5F5F5;
  border: 0.165vw solid #222222;
  margin-bottom: 10%;
}

.button_43:hover {
  background-color: #bababa;
}

.stop {
  text-align: center;
  margin: 10% 2%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.9vw;
}

.stop_1 {
  text-align: center;
  margin: 10% 2%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.9vw;
}

.stop_2 {
  text-align: center;
  margin: 10% 2%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.9vw;
}

.stop_3 {
  text-align: center;
  margin: 10% 2%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.9vw;
}

.stop_4 {
  text-align: center;
  margin: 10% 2%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.9vw;
}

.music_visual {
  width: 91.5%;
  background-color: #F5F5F5;
  border-radius: 10px;
  border: 0.165vw solid #222222;
}

/*--MUSIC VISUAL--*/
.marquee-infinite {
  width: 91.5%;
  height: 96%;
  background-color: #F5F5F5;
  border-radius: 10px;
  border: 0.165vw solid #222222;
  overflow: hidden;
  position: relative;
}

.path_black_1{
  display: flex;
  width: 440%;
  position: absolute;
  z-index: 1;
  animation: marquee-infinite 25s linear infinite;
  animation-play-state: paused;
  justify-content: space-around;
}

.path_black_2{
  display: flex;
  width: 400%;
  position: absolute;
  z-index: 1;
  animation: marquee-infinite 25s linear infinite;
  justify-content: space-around;
  animation-play-state: paused;
}

.path_white_1 {
  display: flex;
  width: 440%;
  animation: marquee-infinite 25s linear infinite;
  animation-play-state: paused;
  justify-content: space-around;
  position: relative;
  /* z-index: 1; */
  top: 0;
}

.path_white_2 {
  display: flex;
  width: 400%;
  position: relative;
  animation: marquee-infinite 25s linear infinite;
  justify-content: space-around;
  animation-play-state: paused;
}

.marquee-infinite span{
  width: 250%;
  display: flex;
  justify-content: space-around;
}

.marquee-infinite img{
  width: 100%;
}

.animation_paths {
  animation-play-state: running;
}

@keyframes marquee-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
/*--MUSIC VISUAL--*/


.music_visual_1 {
  width: 91.5%;
  background-color: #F5F5F5;
  border-radius: 10px;
  border: 0.165vw solid #222222;
  position: relative;
}
.music_visual_2 {
  width: 91.5%;
  background-color: #F5F5F5;
  border-radius: 10px;
  border: 0.165vw solid #222222;
  position: relative;
}

.music_visual_3 {
  width: 91.5%;
  background-color: #F5F5F5;
  border-radius: 10px;
  border: 0.165vw solid #222222;
  position: relative;
}

.music_visual_4 {
  width: 91.5%;
  background-color: #F5F5F5;
  border-radius: 10px;
  border: 0.165vw solid #222222;
  position: relative;
}

.path_1 {
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE2MyIgaGVpZ2h0PSIxODAiIHZpZXdCb3g9IjAgMCAxMTYzIDE4MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExNTEgMi4wMTI3SDEyQzYuNDc3MTUgMi4wMTI3IDIgNi40ODk4NSAyIDEyLjAxMjdWMTY4LjAxM0MyIDE3My41MzYgNi40NzcxNiAxNzguMDEzIDEyIDE3OC4wMTNIMTE1MUMxMTU2LjUyIDE3OC4wMTMgMTE2MSAxNzMuNTM2IDExNjEgMTY4LjAxM1YxMi4wMTI3QzExNjEgNi40ODk4NSAxMTU2LjUyIDIuMDEyNyAxMTUxIDIuMDEyN1oiIGZpbGw9IiNGM0YzRjMiIHN0cm9rZT0iIzIyMjIyMiIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiLz4KPC9zdmc+Cg==);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE2MyIgaGVpZ2h0PSIxODAiIHZpZXdCb3g9IjAgMCAxMTYzIDE4MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExNTEgMi4wMTI3SDEyQzYuNDc3MTUgMi4wMTI3IDIgNi40ODk4NSAyIDEyLjAxMjdWMTY4LjAxM0MyIDE3My41MzYgNi40NzcxNiAxNzguMDEzIDEyIDE3OC4wMTNIMTE1MUMxMTU2LjUyIDE3OC4wMTMgMTE2MSAxNzMuNTM2IDExNjEgMTY4LjAxM1YxMi4wMTI3QzExNjEgNi40ODk4NSAxMTU2LjUyIDIuMDEyNyAxMTUxIDIuMDEyN1oiIGZpbGw9IiNGM0YzRjMiIHN0cm9rZT0iIzIyMjIyMiIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiLz4KPC9zdmc+Cg==);
  /* -webkit-mask-position: top left;
  mask-position: top left;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; */
}

.first_path {
  width: 100%;
}

.red_boo {
  /* width: 200%; */
  position: absolute;
  z-index: 20;
  margin-left: 16.5%;
}

.first_path_1 {
  width: 200%;
  position: absolute;
  z-index: 1;
}

.first_path_white {
  width: 200%;
  position: relative;
}

.second_path_1 {
  width: 200%;
  position: absolute;
  z-index: 1;
}

.second_path_white {
  width: 200%;
  position: relative;
}

.third_path_1 {
  width: 200%;
  position: absolute;
  z-index: 1;
}

.third_path_white {
  width: 200%;
  position: relative;
}

.fourth_path_1 {
  width: 200%;
  position: absolute;
  z-index: 1;
}

.fourth_path_white {
  width: 200%;
  position: relative;
}

.levels_item {
  width: 100%;
  margin-top: 0.5%;
}

.levels_title {
  margin-left: 2%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 1.2vw;
}

.levels_and_chb {
  margin-top: 0.8%;
  display: flex;
  flex-direction: row;
}

.levels_block {
  width: 90.3%;
  margin-left: 2%;
  margin-top: 0.5%;
  background-color: #F5F5F5;
  border-radius: 10px;
  border: 0.165vw solid #222222;
}

.levels_first {
  margin-left: 1.6%;
  width: 96.1%;
  margin-top: 1.3%;
}

.blue {
  width: 100%;
  animation-delay: 0s;
  animation-duration: 2.8s;
  animation-name: bou;
  animation-play-state: running;
  margin-top: 1%;
  margin-left: 1%;
  transform-origin: left;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
}

@keyframes bou {
 from, to {
   transform: scaleX(1);
 }
 80% {
   transform: scaleX(0.8);
 }
 100% {
   transform: scaleX(0.9);
 }
}

.blue_0 {
  width: 100%;
  animation-delay: 0s;
  animation-duration: 2.8s;
  animation-name: bounce;
  animation-play-state: running;
  margin-top: 1%;
  margin-left: 1%;
  transform-origin: left;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
}

@keyframes bounce {
 from, to {
   transform: scaleX(1);
 }
 50% {
   transform: scaleX(1.3);
 }
 100% {
   transform: scaleX(0.8);
 }
}

.levels_second {
  margin-left: 2%;
  width: 66%;
  margin-top: 0.2%;
}

.levels_count {
  margin-top: 1.1%;
  margin-bottom: 1.3%;
  width: 99.1%;
  display: flex;
  justify-content: space-around;
}

.count {
  margin: 0;
  padding: 0;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.9vw;
}

.chb_block {
  margin-left: 1.7%;
  margin-top: 0.5%;
  width: 5%;
  height: 100px;
}

.chb_block_img {
  width: 118%;
}

.chb_gradient {
  width: 100%;
  height: 100px;
  display: block;
  flex-direction: column;
}

.chb_upper {
  width: 100%;
  height: 25%;
  background-color: #F5F5F5;
  border-radius: 6px;
  border: 0.165vw solid #222222;
}

.chb_lower {
  width: 100%;
  margin-top: 25%;
  height: 109%;
  border-radius: 6px;
  background: linear-gradient(#F5F5F5, 60%, #222222);
  border: 0.165vw solid #222222;
}

.right {
  width: 100%;
}

.right_grid {
  display: grid;
  grid-template-columns: 67.2% 32.8%;
}

.graphic_column {
  display: grid;
  /* grid-template-rows: 1fr 1fr; УБРАЛА, НО КТО ЗНАЕТ!*/
}

.graphic {
  position: relative;
  width: 90.5%;
  margin-left: 7.5%;
}

.grafic_base {
  width: 100%;
}

.graphic_1 {
  position: absolute;
  width: 78.7%;
  left: 10.5%;
  top: 25%;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-duration: 0.8s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: fulyred;
  animation-play-state: running;
  animation-timing-function: ease-in;
}

  @keyframes fulyred {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 1;}
}

.graphic_2 {
  position: absolute;
  width: 78.7%;
  left: 10.5%;
  top: 25%;
  z-index: 2;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-duration: 0.8s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: fuyred;
  animation-play-state: running; */
  /* animation-timing-function: ease-in;*/
}

  @keyframes fuyred {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 0;}
}

.graphic_numbers {
  position: absolute;
  width: 93%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.9vw;
  left: 3%;
  top: 89%;
}

.drag {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 8.2%;
}

.draggable {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 82.6%;
  margin-left: 8.5%;
}

.line {
  position: relative;
  width: 92.6%;
}

.circle1 {
  position: absolute;
  right: 61%;
  top: 55%;
  width: 63%;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-duration: 3.5s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: fullyred;
  animation-play-state: running;
  animation-timing-function: ease-in;
}

  @keyframes fullyred {
  0% {top: 60%;}
  50% {top: 10%;}
  100% {top: 50%;}
}

.circle2 {
  position: absolute;
  right: 61%;
  top: 55%;
  width: 63%;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-duration: 3.5s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: fullyred;
  animation-play-state: running;
  animation-timing-function: ease-in;
}

  @keyframes fullyred {
  0% {top: 60%;}
  50% {top: 10%;}
  100% {top: 50%;}
}

.circle3 {
  position: absolute;
  right: 61%;
  top: 55%;
  width: 63%;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-duration: 3.5s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: redvolume;
  animation-play-state: paused;
  animation-timing-function: linear;
  }

  @keyframes redvolume {
  0% {top: 60%;}
  100% {top: 15%;}
  }

  .linee3:hover {
    animation-play-state: running;
  }

.circle4 {
  position: absolute;
  right: 61%;
  top: 55%;
  width: 63%;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-duration: 3.5s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: redvolume;
  animation-play-state: running;
  animation-timing-function: linear;
  }

  @keyframes redvolume {
  0% {top: 40%;}
  100% {top: 15%;}
  }

.circle5 {
  position: absolute;
  right: 61%;
  top: 55%;
  width: 63%;
}

.circle6 {
  position: absolute;
  right: 61%;
  top: 55%;
  width: 63%;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-duration: 2.5s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: redvolume;
  animation-play-state: running;
  animation-timing-function: linear;
  }

  @keyframes redvolume {
  0% {top: 70%;}
  100% {top: 25%;}
  }

.linee {
  width: 11.6%;
}

.linee3 {
  width: 11.6%;
}

.synth {
  width: 89%;
  background-color: #FFAB5D;
  margin-top: 1.2%;
  border-radius: 10px;
}

.synth:hover {
  background-color: #ED9646;
}

.synth_text {
  margin-left: 25%;
  margin-top: 9%;
  margin-bottom: 9%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 1.2vw;
}

.steps_column {
  width: 100%;
  display: grid;
  /* grid-template-rows: 1fr 1fr; СТОИТ И БЕЗ ЭТОГО, ПОДЕЛИВ ПРОСТРАНСТВО ПОПОЛАМ*/
}

.current_step {
  display: flex;
  flex-direction: column;
  margin-top: 3.5%;
  /* justify-content: space-between; */
}

.current_step_name {
  margin-left: 8%;
  margin-top: 0.8%;
  margin-bottom: 9%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 1.3vw;
}

.add_number {
  display: flex;
  flex-direction: row;
}

.display {
  width: 55.1%;
  margin-left: 5%;
  border-radius: 3px;
  background-color: #222222;
}

.number {
  margin-left: 53%;
  margin-top: 21%;
  margin-bottom: 12%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 3.7vw;
  color: #E84648;
}

.change_number {
  width: 15.6%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upper_change {
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 5px;
  border: 0.165vw solid #222222;
}

.upper_change:hover {
  background-color: #bababa;
}

.lower_change {
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 5px;
  border: 0.165vw solid #222222;
}

.lower_change:hover {
  background-color: #bababa;
}

.upper_arrow {
  width: 75%;
  margin-top: 30%;
  margin-bottom: 14%;
  margin-left: 10%;
}

.lower_arrow {
  width: 75%;
  margin-top: 30%;
  margin-bottom: 14%;
  margin-left: 10%;
}

.make_number {
  width: 84%;
  /* width: 77.5%; according to figma*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-top: 17%;
}

.make_min {
  width: 41.5%;
  background-color: #F5F5F5;
  border-radius: 4.8px;
  border: 0.165vw solid #222222;
}

.make_min:hover {
  background-color: #bababa;
}

.make_max {
  width: 41.5%;
  background-color: #F5F5F5;
  border-radius: 4.8px;
  border: 0.165vw solid #222222;
}

.make_max:hover {
  background-color: #bababa;
}

.min {
  margin-top: 15%;
  margin-bottom: 165%;
  margin-left: 14%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 1.4vw;
}

.max {
  margin-top: 15%;
  margin-left: 10%;
  margin-bottom: 170%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 1.4vw;
}

.blue_current_step {
  display: flex;
  flex-direction: column;
  margin-top: 3.5%;
  /* justify-content: space-between; */
}

.blue_step_name {
  margin-left: 8%;
  margin-top: 10%;
  margin-bottom: 9%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 1.3vw;
}

.rotate_this {
  display: flex;
  flex-direction: row;
  position: relative;
}

.line_rotate {
  position: absolute;
  width: 13%;
  top: 10%;
  left: 22%;
}

.blue_display {
  width: 62%;
  margin-left: 12%;
  margin-bottom: 15%;
}

.blue_visual {
  width: 90%;
  position: relative;
  /* margin-left: 22%; */
  /* margin-top: 2%; */
  /* margin-bottom: 1%; */
}

.path_b {
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI2IiBoZWlnaHQ9IjEwMCIgdmlld0JveD0iMCAwIDEyNiAxMDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik02MC41MzAzIDEuMTA0MTdDLTMuMTM2ODMgNC4wNzgxNCAtOC45MTIzNCA3NC40NTQ0IDExLjU1MDQgOTcuNTU0M0w0Ny4xMzYxIDc0LjQ1NDRDMzcuODg0NCA1Mi40MjA5IDU4LjA0MDEgNDUuMDU0NSA2NC41NDAxIDQ1LjU1NDVDODUuMDMwMyA0Ny4xMzA3IDg0LjYwOSA2Ni40NTg0IDgwLjE2MTEgNzQuNDU0NEwxMTUuNzQyIDk4LjU1NDNDMTMwLjg2NSA4Ny4wMDQ2IDEzNy4wMyAtMi40NjkyNCA2MC41MzAzIDEuMTA0MTdaIiBmaWxsPSIjN0M5RUNGIiBzdHJva2U9ImJsYWNrIi8+Cjwvc3ZnPgo=);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI2IiBoZWlnaHQ9IjEwMCIgdmlld0JveD0iMCAwIDEyNiAxMDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik02MC41MzAzIDEuMTA0MTdDLTMuMTM2ODMgNC4wNzgxNCAtOC45MTIzNCA3NC40NTQ0IDExLjU1MDQgOTcuNTU0M0w0Ny4xMzYxIDc0LjQ1NDRDMzcuODg0NCA1Mi40MjA5IDU4LjA0MDEgNDUuMDU0NSA2NC41NDAxIDQ1LjU1NDVDODUuMDMwMyA0Ny4xMzA3IDg0LjYwOSA2Ni40NTg0IDgwLjE2MTEgNzQuNDU0NEwxMTUuNzQyIDk4LjU1NDNDMTMwLjg2NSA4Ny4wMDQ2IDEzNy4wMyAtMi40NjkyNCA2MC41MzAzIDEuMTA0MTdaIiBmaWxsPSIjN0M5RUNGIiBzdHJva2U9ImJsYWNrIi8+Cjwvc3ZnPgo=);
  -webkit-mask-position: top left;
  mask-position: top left;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 96% 96%;
  /* width: 70%; */
  /* border: 0.165vw solid #222222; */
  background-color: #7C9ECF;
  /* border: 0.1vw solid #222222; */
}

.newton_cradle {
  position: relative;
  margin-left: 46%;
  margin-bottom: 10%;
    padding-bottom: 10%;
  width: 2%;
  height: 10vh;
  background: linear-gradient(to bottom, #E84648 50%, #7C9ECF 50%);
  /* box-shadow: 1px 5px 10px 3px rgb(0 0 0 / 10%); */

  transform: rotate(-30deg);
  animation: animate 0.8s infinite alternate linear;
  animation-play-state: running;
}

@keyframes animate {
  from {
    transform: rotate(-40deg);
  }
  to {
    transform: rotate(40deg);
  }
}

.paused {
  animation-play-state: paused;
}

.newpaused {
  animation-play-state: paused;
}

.makeblue {
  /* margin-left: 30%; */
  transform: rotate(65deg);
}

.make_acbc {
  width: 84%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
}

.make_ac {
  width: 41.5%;
  background-color: #F5F5F5;
  border-radius: 4.8px;
  border: 0.165vw solid #222222;
}

.make_ac:hover {
  background-color: #bababa;
}

.make_bc {
  width: 41.5%;
  background-color: #F5F5F5;
  border-radius: 4.8px;
  border: 0.165vw solid #222222;
}

.make_bc:hover {
  background-color: #bababa;
}

.ac {
  margin-top: 15%;
  margin-left: 18%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 1.4vw;
}

.bc {
  margin-top: 15%;
  margin-left: 22%;
  margin-bottom: 165%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 1.4vw;
}

.black_white {
  width: 91%;
  margin-top: 8.2%;
  margin-left: 5%;
  background-color: #F5F5F5;
  border-radius: 15px;
  border: 0.165vw solid #222222;
}

.black_white_inner {
  display: flex;
  flex-direction: column;
}

.upper_inner {
  width: 89.9%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6.5%;
  margin-top: 2%;
  margin-bottom: 3.1%;
  /* border-bottom: 0.28vw solid #222222; */
}

.without_gradient {
  width: 22.9%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.5%;
}

.pitch {
  width: 34.9%;
  padding-top: 23%;
  display: flex;
  flex-direction: column;
}

.pitch_img {
  width: 83.7%;
  margin-left: 3%;
  animation: rotate 4.5s infinite linear;
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(200deg);
  }
  100%{
    transform: rotate(0deg);
  }

}

.pitch_name {
  margin-top: 15%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.75vw;
}

.tones {
  width: 48.7%;
  padding-top: 23%;
}

.tones_img {
  width: 100%;
  padding-top: 4%;
}

.tones_name {
  margin-top: 10%;
  margin-left: 8%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.75vw;
}

.with_gradient {
  width: 22.9%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.5%;
}

.tempo {
  width: 39.9%;
  padding-top: 23%;
  display: flex;
  flex-direction: column;
}

.tempo_img {
  width: 83.7%;
  margin-left: 3%;
  padding-left: 10%;
  animation: rotate 10s infinite linear;
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-300deg);
  }
  100%{
    transform: rotate(0deg);
  }

}

.tempo_name {
  margin-top: 15%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.75vw;
}

.tones_gr {
  width: 50.7%;
  padding-top: 23%;
}

.tones_gr_img {
  width: 100%;
  padding-top: 4%;
}

.tones_name_gradient {
  margin-top: 10%;
  margin-left: 8%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.75vw;
}

.black_screen {
  width: 28.7%;
  padding-top: 1.5%;
}

.black_screen_img {
  width: 100%;
}

.border_top {
  width: 100%;
  border-top: 0.18vw solid #222222;
}

.lower_inner {
  width: 74.3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.9%;
  margin-bottom: 3.2%;
  margin-left: 23%;
}

.setup {
  width: 50.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.setup_text {
  margin-top: 1.5%;
  margin-left: 1.4%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.75vw;
}

.setup_dot_img {
  width: 8.4%;
}

.setup_long_img {
  width: 59.8%;
  margin-left: 5%;
}

.reset {
  width: 17.1%;
  display: flex;
  flex-direction: row;
}

.reset_text {
  margin-top: 2.5%;
  margin-right: 6%;
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 0.75vw;
}

.reset_dot_img {
  width: 25%;
  margin-left: 7%;
}

.footer {
  margin-top: 0.8%;
  margin-left: 1.4%;
  width: 97.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myname {
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 1.1vw;
}

.gruppa {
  font-family: 'Loos Latin, Cyrillic Wide';
  font-size: 1.1vw;
}

.newClass {
  background: black;
}

.newerClass {
  display: none;
}

.borderclass {
  background-color: #BABABA;
}

.bog {
  background-color: #BABABA;
}

.bug {
  background-color: #bababa;
}

.stopclass {
  animation-play-state: paused;
}

.stop2class {
  animation-play-state: paused;
}

.bcrotate {
  transform': rotate(-25deg);
}

.moverunning {
  transform: rotate(-65deg);
}
